name: Test Workflow

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'

jobs:
  pytest_commit:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        python-version: ['3.10', '3.11', '3.12']

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v3
        with:
          version: latest

      - name: Set up Python ${{ matrix.python-version }}
        run: uv python install ${{ matrix.python-version }}

      - name: Install the project and its dependencies
        run: uv sync --python ${{ matrix.python-version }}

      - name: Run pre-commit
        run: uv run pre-commit run --all

      - name: Run Pytest
        run: uv run pytest --cov=src --cov-report term ./tests
